

%floatContainer {

	&::before {
		content: '';
		display: table;
	}

	&::after {
		@extend %floatContainer::before;
		clear: both;
	}
}

%inlineBlock {
	display: inline-block;
	vertical-align: middle;
}

%flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

%noListStyle {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

%noUserSelect {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

%continuousText {
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

%placeholder {

	&::-webkit-input-placeholder {
		color: inherit;
	}
	
	&::-moz-placeholder {
		color: inherit;
		opacity: 1;
	}

	&:-ms-input-placeholder {
		color: inherit;
	}

	&:-moz-placeholder {
		color: inherit;
		opacity: 1;
	}

	&::placeholder {
		color: inherit;
		opacity: 1;
	}
}





/* ELEMENTS
===============================================================================================================================*/

/*__________ Basic Button +++ __________*/
%basicButton {

	> a {
		position: relative;
		text-decoration: none;
		font-size: 13px;
		font-weight: 600;
		background: $btnColor;
		color: #333;

		> i {
			height: 16px;
			line-height: 16px;
			opacity: 0;
			font-size: 18px;
			@include translate(20px, 0);

			&:nth-of-type(1) {
				@include transition($delay: 0.1s);
			}

			&:nth-of-type(2) {
				@include transition($delay: 0s);
			}
		}

		&:hover {

			> i {
				opacity: 1;
				@include translate(0, 0);
			}

			> i:nth-of-type(1) {
				@include transitionDelay($time: 0s);
			}

			> i:nth-of-type(2) {
				@include transitionDelay($time: 0.1s);
			}
		}
	}
}
/*__________ Basic Button --- __________*/





/*__________ Header Info +++ __________*/
%outerBox {
	@extend %inlineBlock;
	text-align: center;
}

%innerBox {
	@extend %inlineBlock;
	@extend %noListStyle;
}
/*__________ Header Info --- __________*/



/*__________ Baner Text +++ __________*/
%banerText {
	position: relative;
	overflow: hidden;

	&::before {
		content: '';
		display: block;
		@include absolute($top: initial, $bottom: initial, $left: 0, $right: 0);
		background: linear-gradient(to right, rgba(252, 252, 252, 0.3), #fcfcfc);
	}
}
/*__________ Baner Text --- __________*/

/*__________ Baner Buttons +++ __________*/
%owlButtons {
	width: 40px;
	height: 40px;
	line-height: 40px;
	@include absolute($top: 0, $bottom: 0, $left: initial, $right: initial);
	overflow: hidden;
	text-align: center;
	font-size: 0;
	@include transition();
	background: #b3b3b3;

	&::before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 11px;
		height: 11px;
		border: 2px solid #fff;
		border-right: 0;
		border-bottom: 0;
		@include transition();
	}

	&:hover {
		background: $textColor;
	}
}
/*__________ Baner Buttons --- __________*/




/*__________ Catalog Menu +++ __________*/
%catalogMenu {
	position: relative;
	background: $btnColor;

	> i,
	.number {
		display: block;
		@include absolute($top: 0, $bottom: 0, $left: initial, $right: 10px);
	}
}
/*__________ Catalog Menu --- __________*/





/*__________ Where Buy +++ __________*/
%whereBuyText {
	margin-bottom: 10px;

	> p {
		margin-bottom: 0;
		padding-left: 25px;
		position: relative;
		font-size: 17px;
		color: #424242;

		> i {
			height: 18px;
			line-height: 18px;
			@include absolute($top: 0, $bottom: 0, $left: 0, $right: initial);
			color: $textColor;
		}
	}
}
/*__________ Where Buy --- __________*/



