

/*__________ Heritage +++ __________*/
@mixin inlineBlock($width: initial) {
	display: inline-block;
	vertical-align: middle;
	width: $width;
}

@mixin continuousText {
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
/*__________ Heritage +++ __________*/



@mixin absolute($top: 0, $bottom: 0, $left: 0, $right: 0) {
	position: absolute;
	top: $top;
	bottom: $bottom;
	left: $left;
	right: $right;
	margin: auto;
}


@mixin transition($property: all, $time: 0.3s, $tFunc: ease, $delay: 0s) {
	-webkit-transition: $property $time $tFunc $delay;
	-o-transition: $property $time $tFunc $delay;
	transition: $property $time $tFunc $delay;
}


@mixin transitionDelay($time: 0s) {
	-webkit-transition-delay: $time;
	-o-transition-delay: $time;
	transition-delay: $time;
}


@mixin transitionFunc($tFunc: ease) {
	-webkit-transition-timing-function: $tFunc;
	-o-transition-timing-function: $tFunc;
	transition-timing-function: $tFunc;
}


@mixin translate($x, $y) {
	-webkit-transform: translate($x, $y);
	-ms-transform: translate($x, $y);
	-o-transform: translate($x, $y);
	transform: translate($x, $y);
}


@mixin rotate($angle) {
	-webkit-transform: rotate($angle);
	-ms-transform: rotate($angle);
	-o-transform: rotate($angle);
	transform: rotate($angle);
}


@mixin rotateTranslate($angle, $tx, $ty) {
	-webkit-transform: rotate($angle) translate($tx, $ty);
	-ms-transform: rotate($angle) translate($tx, $ty);
	-o-transform: rotate($angle) translate($tx, $ty);
	transform: rotate($angle) translate($tx, $ty);
}


@mixin scale($x, $y) {
	-webkit-transform: scale($x, $y);
	-ms-transform: scale($x, $y);
	-o-transform: scale($x, $y);
	transform: scale($x, $y);
}


@mixin rotate3D($rx, $ry, $rz, $rdeg) {
	-webkit-transform: rotate3d($rx, $ry, $rz, $rdeg);
	-ms-transform: rotate3d($rx, $ry, $rz, $rdeg);
	-o-transform: rotate3d($rx, $ry, $rz, $rdeg);
	transform: rotate3d($rx, $ry, $rz, $rdeg);
}


@mixin rotate3DTranslate3D($rx, $ry, $rz, $rdeg, $tx, $ty, $tz) {
	-webkit-transform: rotate3d($rx, $ry, $rz, $rdeg) translate3d($tx, $ty, $tz);
	-ms-transform: rotate3d($rx, $ry, $rz, $rdeg) translate3d($tx, $ty, $tz);
	-o-transform: rotate3d($rx, $ry, $rz, $rdeg) translate3d($tx, $ty, $tz);
	transform: rotate3d($rx, $ry, $rz, $rdeg) translate3d($tx, $ty, $tz);
}


@mixin animation($name, $time: 0.3s, $tFunc: ease, $delay: 0s, $fillMode: none, $count: 1) {
	-webkit-animation: $name $time $tFunc $delay $fillMode $count;
	-o-animation: $name $time $tFunc $delay $fillMode $count;
	animation: $name $time $tFunc $delay $fillMode $count;

	@-webkit-keyframes #{$name} {
		@content;
	}
	@-o-keyframes #{$name} {
		@content;
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}





