

$social:
	(fb, $facebook),
	(tw, $twitter),
	(inst, $instagram),
	(vk, $vkontakte);

@each $class, $color in $social {
	.icon_#{$class} {
		color: $color;

		&.bd::after {
			border: 1px solid $color;
		}

		&.bg:hover {
			background: $color;
		}
	}
}


