
// Fonts
$fontItalic: italic;
$fontLight: 300;
$fontNormal: normal;
$fontSemiBold: 500;


// Colors
$btnColor: #ffcd00;
$textColor: #c83041;


// Socials
$facebook: #385c8e;
$twitter: #3fa9f5;
$instagram: #c21975;
$vkontakte: #436eab;

