
/* Proxima Nova
---------------------------------------------------------------------------------*/
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima Nova Semibold Italic.otf');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima Nova Semibold.otf');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima Nova Regular Italic.otf');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima Nova Regular.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima Nova Light Italic.otf');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima Nova Light.otf');
	font-weight: 300;
	font-style: normal;
}






/* ICONS
===============================================================================================================================*/
@font-face {
  font-family: 'Custom-icons';
  src:  url('../fonts/icons/Custom-icons.eot?xw3hri');
  src:  url('../fonts/icons/Custom-icons.eot?xw3hri#iefix') format('embedded-opentype'),
    url('../fonts/icons/Custom-icons.ttf?xw3hri') format('truetype'),
    url('../fonts/icons/Custom-icons.woff?xw3hri') format('woff'),
    url('../fonts/icons/Custom-icons.svg?xw3hri#Custom-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon_custom {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Custom-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_arr_r:before {
  content: "\e900";
}
.icon_atoms:before {
  content: "\e901";
}
.icon_balloon:before {
  content: "\e902";
}
.icon_clock:before {
  content: "\e903";
}
.icon_fb:before {
  content: "\e904";
}
.icon_gift:before {
  content: "\e905";
}
.icon_heart:before {
  content: "\e906";
}
.icon_inst:before {
  content: "\e907";
}
.icon_like:before {
  content: "\e908";
}
.icon_list:before {
  content: "\e909";
}
.icon_pin:before {
  content: "\e90a";
}
.icon_podium:before {
  content: "\e90b";
}
.icon_search:before {
  content: "\e90c";
}
.icon_shield:before {
  content: "\e90d";
}
.icon_sos:before {
  content: "\e90e";
}
.icon_star:before {
  content: "\e90f";
}
.icon_stats:before {
  content: "\e910";
}
.icon_tel:before {
  content: "\e911";
}
.icon_tw:before {
  content: "\e912";
}
.icon_vk:before {
  content: "\e913";
}





