
@import 'variables';
@import 'mixins';
@import 'heritage';
@import 'operations';

html.over_hidden,
body.over_hidden {
	overflow: hidden;
}

body {
	font-family: "Proxima Nova";
	font-weight: normal;
}


img {
	max-width: 100%;
}


a,
button,
select,
input,
textarea {
	outline: 0 !important;
}

a:focus {
	text-decoration: none;
}

li {
	text-align: inherit;
}



/* HEADER
===============================================================================================================================*/
.header {

}

/*__________ Header Info +++ __________*/
.header_info {
	padding: 10px 0;
	background: #f0f0f0;

	@at-root .header_info_left {

		@at-root .header_lang_box {
			@extend %outerBox;
			margin-right: 18px;
			padding: 4px 0;
			padding-right: 20px;
			border-right: 1px solid #ccc;
			line-height: 1;

			@at-root .header_lang {
				@extend %innerBox;
				font-size: 15px;

				> li {
					float: left;
					position: relative;

					& + li {
						margin-left: 3px;
						padding-left: 8px;

						&::before {
							content: '/';
							display: block;
							@include absolute($top: 0, $bottom: 0, $left: 0, $right: initial);
						}
					}

					> a {
						display: block;
						text-transform: uppercase;
						text-decoration: none;
						color: #c9c9c9;
					}

					&.active > a,
					& > a:hover {
						color: #5e5e5e;
					}
				}
			}
		}

		@at-root .header_menu_box {
			@extend %outerBox;

			@at-root .header_menu {
				@extend %innerBox;

				> li {
					float: left;

					& + li {
						margin-left: 15px;
					}

					> a {
						display: block;
						text-decoration: underline;
						color: #afacad;

						&:hover {
							color: $textColor;
						}
					}
				}
			}
		}
	}

	@at-root .header_info_right {
		text-align: right;

		@at-root .header_call_box {
			@extend %outerBox;
			margin-right: 20px;

			@at-root .header_call {
				@extend %innerBox;

				> a {
					display: block;
					text-decoration: none;
					color: $textColor;

					> i {

					}

					> span {
						text-decoration: underline;
					}
				}
			}
		}

		@at-root .header_social_box {
			@extend %outerBox;

			@at-root .header_social {
				@extend %innerBox;

				> li {
					float: left;

					& + li {
						margin-left: 7px;
					}

					> a {
						display: block;
						text-decoration: none;
						color: inherit;

						> i {
							display: block;
							width: 25px;
							line-height: 25px;
							border-radius: 50%;
							position: relative;
							text-align: center;

							&::after {
								content: '';
								display: block;
								border-radius: 50%;
								@include absolute($top: -5px, $bottom: -5px, $left: -5px, $right: -5px);
								opacity: 0;
								@include transition();
							}
						}

						&:hover > i::after {
							@include absolute();
							opacity: 1;
						} 
					}
				}
			}
		}
	}
}
/*__________ Header Info --- __________*/



/*__________ Header Logo +++ __________*/
.header_logo_box {
	padding: 20px 0;

	@at-root .logo {
		@extend %inlineBlock;
		width: 24%;

		> a {
			@extend %inlineBlock;

			> img {

			}
		}
	}

	@at-root .search {
		@extend %inlineBlock;
		width: calc(47% - 4px);

		@at-root .search_form {
			@extend %floatContainer;

			@at-root .search_btn {
				display: block;
				width: 40px;
				height: 40px;
				float: left;
				padding: 0;
				border: 1px solid #d7d7d7;
				border-right: 0;
				border-radius: 4px 0 0 4px;
				background: #f0f0f0;

				> i {
					display: block;
					font-size: 20px;
					color: $textColor;
				}

				&:hover > i {
					color: $btnColor;
				}
			}

			@at-root .search_txt_in {
				display: block;
				width: calc(100% - 40px);
				height: 40px;
				float: left;
				padding: 0 12px;
				border: 1px solid #d7d7d7;
				border-left-color: transparent;
				border-radius: 0 4px 4px 0;
				background: #f0f0f0;

				&:focus {
					border-left-color: #d7d7d7;
					background: #fff;
				}
			}
		}
	}

	@at-root .header_tel_box {
		@extend %inlineBlock;
		width: calc(29% - 4px);
		text-align: right;

		@at-root .header_tel {
			margin-bottom: 0;

			> a {
				@extend %inlineBlock;
				text-decoration: none;
				font-weight: 600;
				color: inherit;

				> i {
					margin-right: 5px;
					font-size: 18px;
					color: #16d359;
				}

				.sm {
					font-size: 20px;
					color: #5e5e5e;
				}

				.lg {
					font-size: 23px;
					color: #000;
				}

				&:hover {
					.sm, .lg {
						color: $textColor;
					}
				}
			}
		}

		@at-root .header_tel_capt {
			margin-bottom: 0;
			font-size: 13px;
			color: #afacad;
		}
	}
}
/*__________ Header Logo --- __________*/



/*__________ Navigation +++ __________*/
.navigation {

	@at-root .nav_menu_box {
		border: 1px solid #ebebeb;
		background: #f0f0f0;

		@at-root .nav_menu {
			@extend %noListStyle;

			> li {
				display: table-cell;
				width: 1%;

				& + li {
					border-left: 1px solid #ebebeb;
				}

				> a {
					display: block;
					padding: 15px 0;
					cursor: pointer;
					text-align: center;
					text-transform: uppercase;
					text-decoration: none;
					font-size: 16px;
					font-weight: 600;
					@include transition();
					color: #6a6a6a;

					&:hover {
						background: $btnColor;
					}
				}

				&.active > a {
					background: $btnColor;
				}
			}
		}
	}

	@at-root .nav_menu_btn {
		display: none;
		padding: 5px 17px;
		border: 1px solid #fff;
		position: fixed;
		top: 15px;
		right: 15px;
		overflow: hidden;
		cursor: pointer;
		-webkit-box-shadow: 0 0 7px #888;
		box-shadow: 0 0 7px #888;
		@include transition($time: 0.5s);
		background: $textColor;
		z-index: 99;

		> .btn_line {
				display: block;
				width: 6px;
				height: 6px;
				position: relative;
				@include transition($delay: 0.5s);
				background-color: white;

			&:nth-of-type(1) {
				top: 2px;
				left: 0;
			}

			&:nth-of-type(2) {
				top: -4px;
				right: 0;
			}

			&:nth-of-type(3) {
				
			}

			&:nth-of-type(4) {
				bottom: -4px;
				left: 0;
			}

			&:nth-of-type(5) {
				bottom: 2px;
				right: 0;
			}
		}

		&.active {
			right: 365px;

			> .btn_line {

				&:nth-of-type(1) {
					left: -10px;
				}

				&:nth-of-type(2) {
					right: -10px;
				}

				&:nth-of-type(3) {
					
				}

				&:nth-of-type(4) {
					left: -10px;
				}

				&:nth-of-type(5) {
					right: -10px;
				}
			}
		}
	}

	@at-root .nav_menu_bg {
		display: block;
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
		@include transition()
		background: rgba(0, 0, 0, 0.4);
		z-index: 90;

		&.active {
			opacity: 1;
			visibility: visible;
		}
	}
}
/*__________ Navigation --- __________*/




/* BANER
===============================================================================================================================*/
.baner_box {
	padding: 20px 0;
	background: #fcfcfc;

	@at-root .baner {

		.owl-prev {
			@extend %owlButtons;
			left: 0;

			&::before {
				margin-left: 3px;
				@include rotate(-45deg);
			}
		}
		.owl-next {
			@extend %owlButtons;
			right: 0;

			&::before {
				margin-right: 3px;
				@include rotate(135deg);
			}
		}

		@at-root .baner_item {
			position: relative;

			@at-root .baner_img {
				min-height: 120px;
			}

			@at-root .baner_capt {
				width: 400px;
				height: 240px;
				@include absolute($right: initial);


				@at-root .baner_text {
					margin-bottom: 20px;
					padding: 10px 20px;
					background: #fcfcfc;

					@at-root .baner_h {
						max-height: 52px;
						margin: 0;
						@extend %banerText;
						font-weight: 600;
						color: #56617e;

						&::before {
							height: 26px;
							top: 26px;
						}
					}

					@at-root .baner_p {
						max-height: 100px;
						margin-top: 10px;
						margin-bottom: 0;
						@extend %banerText;
						color: #6a6a6a;

						&::before {
							height: 20px;
							top: 80px;
						}
					}
				}

				@at-root .baner_btn {
					@extend %basicButton;

					> a {
						@extend %inlineBlock;
						padding: 10px 40px;
						border-radius: 4px;

						> i {
							@include absolute($left: initial, $right: initial);

							&:nth-of-type(1) {
								right: 25px;
							}

							&:nth-of-type(2) {
								right: 20px;
							}
						}
					}
				}
			}
		}
	}
}





/* MAIN
===============================================================================================================================*/
.main {
	padding-top: 40px;
}


.catalog {
	margin-bottom: 30px;
}

/*__________ Catalog Sidebar +++ __________*/
.catalog_sidebar {

	@at-root .catalog_nav {
		max-width: 400px;
		margin: auto;
		margin-bottom: 30px;

		@at-root .catalog_menu_title {
			margin: 0;
			padding: 15px 10px;
			padding-right: 25px;
			@extend %catalogMenu;
			text-transform: uppercase;
			font-size: 15px;
			font-weight: 600;
			color: #000;

			> i {
				height: 18px;
				font-size: 18px;
				font-weight: bold;
			}
		}

		@at-root .catalog_menu {
			@extend %noListStyle;

			> li {

				> a {
					display: block;
					padding: 7px 10px;
					padding-right: 30px;
					@extend %catalogMenu;
					text-decoration: none;
					color: inherit;

					.number {
						height: 15px;
						font-size: 11px;
					}
				}

				> a:hover,
				&.active > a {
					background: $textColor;
					color: #fff;
				}
			}
		}

		@at-root .catalog_popular {

			@at-root .catalog_popular_img {
				margin-bottom: 10px;
				position: relative;

				> img {
					width: 100%;
				}

				@at-root .catalog_popular_capt {
					margin: 0;
					padding: 0 10px;
					position: absolute;
					bottom: 0;
					font-size: 22px;
					font-weight: 600;
					background: $textColor;
					color: #fff;
				}
			}

			@at-root .catalog_popular_btn {
				text-align: right;

				> a {
					@extend %inlineBlock;
					text-decoration: none;
					color: $textColor;

					&:hover > span {
						text-decoration: underline;
					}

					> i {
						@extend %inlineBlock;
						font-size: 16px;

						&:nth-of-type(1) {
							margin-left: -5px;
						}

						&:nth-of-type(2) {
							margin-left: -15px;
						}
					}
				}
			}
		}
	}
}
/*__________ Catalog Sidebar --- __________*/


/*__________ Catalog Content +++ __________*/
.catalog_content {

	@at-root .catalog_item_box {
		display: none;
		overflow: hidden;

		&.active {
			display: block;
			@include animation(catalogOpen, $time: 1.7s, $fillMode: backwards) {
				0% {
					width: 0;
					max-height: 2px;
					background: $textColor;
				}

				70% {
					width: 100%;
					max-height: 2px;
					background: $textColor;
				}

				100% {
					max-height: 1200px;
					background-color: transparent;
				}
			}
		}

		@at-root .catalog_title {
			margin-top: 0;
			margin-bottom: 15px;
			text-transform: uppercase;
			font-size: 30px;
		}

		@at-root .catalog_item {
			height: 392px;
			max-width: 400px;
			margin: auto;
			margin-bottom: 30px;
			border: 1px solid #dcdcdc;
			border-radius: 4px;
			overflow: hidden;

			@at-root .catalog_item_img {
				height: 250px;
				border-bottom: 1px solid #dcdcdc;
				position: relative;
				overflow: hidden;

				> img {
					min-width: 100%;
					min-height: 100%;
					max-width: 120%;
					max-height: 120%;
					@include absolute($top: -100%, $bottom: -100%, $left: -100%, $right: -100%)
				}

				@at-root .catalog_item_capt {
					padding: 7px;
					border-radius: 0 0 0 4px;
					@include absolute($top: 0, $bottom: initial, $left: initial, $right: 0);
					background: $btnColor;

					> p {
						margin-bottom: 0;
						font-size: 12px;
					}

					.title {
						text-align: center;
					}

					.para {
						text-align: right;
					}
				}
			}

			@at-root .catalog_item_name {
				height: 40px;
				overflow: hidden;
				@include transition();

				> h3 {
					margin: 0;
					padding: 0 5px;
					line-height: 40px;
					@extend %continuousText;
					text-align: center;
					text-transform: uppercase;
					font-size: 16px;
					@include translate(0, 0);
					@include transition($delay: 0.15s);
				}
			}

			&:hover > .catalog_item_name{
				height: 0;
				@include transitionDelay(0.15s)

				> h3 {
					@include translate(0, -50px);
					@include transitionDelay(0s)
				}
			}

			@at-root .catalog_item_desc {
				padding: 10px;
				background: #f6f6f6;

				> p {
					height: 80px;
					margin-bottom: 0;
					position: relative;
					overflow: hidden;

					&::before {
						content: '';
						display: block;
						height: 20px;
						@include absolute($top: initial, $bottom: 0, $left: 0, $right: 0);
						background: linear-gradient(to right, transparent, #f6f6f6);
					}
				}
			}

			@at-root .catalog_item_btn {
				@extend %basicButton;

				> a {
					display: block;
					line-height: 40px;
					padding: 0 5px;
					text-align: center;

					> i {
						@extend %inlineBlock;

						&:nth-of-type(1) {
							margin-left: -7px;
						}

						&:nth-of-type(2) {
							margin-left: -17px;
						}
					}
				}
			}
		}

		@at-root .catalog_item_more {
			@extend .baner_btn;
			text-align: center;

			> a {

				> i {

				}
			}
		}
	}
}
/*__________ Catalog Content --- __________*/





/*__________ Filter +++ __________*/
.filter {
	margin-bottom: 50px;

	@at-root .filter_header {

		@at-root .filter_nav_lg {

			@at-root .filter_menu_lg {
				@extend %inlineBlock;
				@extend %noListStyle;
				text-align: left;

				> li {
					float: left;

					> a {
						display: block;
						padding: 5px 20px;
						position: relative;
						text-transform: uppercase;
						text-decoration: none;
						font-size: 18px;
						color: #8a8a8a;

						&::before {
							content: '';
							display: none;
							height: 2px;
							@include absolute($top: initial, $bottom: 0, $left: 0, $right: 0);
							background: $textColor;
						}

						&:hover {
							color: $textColor;
						}

						> i {
							display: inline-block;
							margin-right: 3px;
							font-size: 23px;
						}
					}

					&.active > a {
						color: $textColor;

						&::before {
							display: block;
						}
					}
				}
			}
		}
	}

	@at-root .filter_body {

		@at-root .filter_item_box_lg {
			display: none;

			&.active {
				display: block;
				@include animation(filterLGOpen, $time: 1.2s, $fillMode: backwards) {
					from {
						opacity: 0;
						@include translate(0, 150px);
					}
					to {
						opacity: 1;
						@include translate(0, 0);
					}
				}
			}

			@at-root .filter_nav_sm {
				margin-bottom: 20px;

				@at-root .filter_menu_sm {
					@extend %inlineBlock;
					width: 100%;
					@extend %noListStyle;
					background: #f7f7f7;

					> li {
						display: table-cell;
						width: 1%;

						> a {
							display: block;
							padding: 12px 5px;
							white-space: nowrap;
							text-align: center;
							font-size: 15px !important;
							color: #8a8a8a;
						}

						> a:hover,
						&.active > a {
							text-decoration: underline;
							color: inherit;
						}

						&.more {
							@extend %basicButton;

							> a {
								text-decoration: none;
								font-weight: normal;
								background: $textColor;
								color: #fff;

								> i {
									@extend %inlineBlock;

									&:nth-of-type(1) {
										margin-left: -7px;
									}

									&:nth-of-type(2) {
										margin-left: -17px;
									}
								}
							}
						}
					}
				}
			}

			@at-root .filter_item_box_sm {
				display: none;
				@extend %noUserSelect;

				&.active {
					display: block;
					@include animation(filterSMOpen, $time: 1s, $fillMode: backwards) {
						from {
							opacity: 0;
							@include scale(0, 0);
						}
						to {
							opacity: 1;
							@include scale(1, 1);
						}
					}
				}

				@at-root .filter_baner_ctrl {
					margin-bottom: 20px;
					border-bottom: 1px solid #dcdcdc;
					text-align: right;

					@at-root .filter_baner_btn_box {
						@extend %inlineBlock;

						@at-root .filter_baner_btn {
							float: left;
							padding: 5px;
							cursor: pointer;
							background: #f0f0f0;
							color: #8a8a8a;

							> i {
								display: block;
								font-size: 30px;
							}

							&.prev {

								> i {
									@include rotate(180deg)
								}
							}

							&.next {

								> i {
									
								}
							}

							&:hover {
								background: $textColor;
								color: #fff;
							}
						}
					}
				}

				@at-root .filter_baner {

					.owl-item {
						padding: 0 15px;
					}

					@at-root .filter_item {

						> .catalog_item {
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
}
/*__________ Filter --- __________*/




/*__________ Short About +++ __________*/
.short_about {
	@extend %floatContainer;
	background: #424242;

	@at-root .short_about_left {
		width: 42%;
		float: left;
		padding: 0 30px;

		@at-root .short_about_text {
			padding: 40px 0;
			color: #fff;

			@at-root .short_about_h {
				margin-top: 0;
				margin-bottom: 20px;
				font-size: 30px;
			}

			@at-root .short_about_p {
				max-height: 220px;
				margin-bottom: 20px;
				position: relative;
				overflow: hidden;
				text-align: justify;
				font-size: 16px;

				&::before {
					content: '';
					display: block;
					height: 22px;
					@include absolute($top: 198px, $bottom: initial)
					background: linear-gradient(to right, rgba(66, 66, 66, 0.4), #424242);
				}

				> p {

				}
			}

			@at-root .short_about_btn {
				@extend .baner_btn;

				> a {

					> i {

					}
				}
			}
		}
	}

	@at-root .short_about_right {
		width: 58%;
		float: left;

		@at-root .short_about_baner {

			&::before {
				content: '';
				display: block;
				width: 41px;
				@include absolute($top: 0, $bottom: 0, $left: 0, $right: initial);
				background: url('../images/about_baner_border.png') no-repeat;
				background-position: center;
				z-index: 3;
			}

			.owl-prev {
				width: 50px;
				height: 50px;
				@include absolute($top: 0, $bottom: 0, $left: 0, $right: initial);
				font-size: 0;
				z-index: 5;

				&::before {
					content: '';
					display: block;
					width: 16px;
					height: 16px;
					border: 3px solid #fff;
					border-left: 0;
					border-bottom: 0;
					@include absolute();
					@include rotate(45deg);
				}
			}

			.owl-next {
				display: none;
			}

			@at-root .short_about_baner_item {
				height: 411px;
				position: relative;
				overflow: hidden;

				@at-root .short_about_baner_img {
					min-width: 100%;
					min-height: 100%;
					max-width: 120%;
					max-height: 120%;
					@include absolute(-100%, -100%, -100%, -100%);
				}
			}
		}
	}
}
/*__________ Short About --- __________*/





/*__________ Advantage +++ __________*/
.advantage {
	padding: 50px 0;

	@at-root .advantage_title {
		margin-top: 0;
		margin-bottom: 30px;
		text-align: center;
		text-transform: uppercase;
		font-size: 30px;
		font-weight: normal;
		color: #424242;

		> .highlight {
			color: $textColor;
		}
	}

	@at-root .advantage_item {
		@extend %floatContainer;
		margin-bottom: 50px;

		@at-root .advantage_img_box {
			width: 100px;
			float: left;

			@at-root .advantage_img {

				> i {
					display: block;
					font-size: 80px;
					color: $textColor;
				}
			}
		}

		@at-root .advantage_text {
			width: calc(100% - 100px);
			float: left;

			@at-root .advantage_h {
				margin-top: 0;
				color: $textColor;
			}

			@at-root .advantage_p {
				margin-bottom: 0;
				font-size: 15px;
			}
		}
	}
}
/*__________ Advantage --- __________*/





/*__________ Blog +++ __________*/
.blog {
	padding: 50px 0;
	background: #f7f7f7;

	@at-root .blog_title {
		@extend .advantage_title;
	}

	@at-root .blog_item {
		@extend .catalog_item;
		height: initial;
		background: #fff;

		@at-root .blog_item_img {
			@extend .catalog_item_img;

			> img {

			}
		}

		@at-root .blog_item_info {
			padding: 13px;

			@at-root .blog_item_name_box {
				margin-bottom: 10px;

				@at-root .blog_item_name {
					margin: 0;
					@extend %continuousText;
					font-size: 15px;
					font-weight: 600;
				}

				@at-root .blog_item_date {
					margin-top: 5px;
					margin-bottom: 0;
					font-size: 12px;
					color: #afacad;
				}
			}

			@at-root .blog_item_desc {

				> p {
					height: 72px;
					margin-bottom: 0;
					position: relative;
					overflow: hidden;
					font-size: 13px;

					&::before {
						content: '';
						display: block;
						height: 18px;
						@include absolute(initial);
						background: linear-gradient(to right, rgba(255, 255, 255, 0.3), #fff);
					}
				}
			}
		}

		@at-root .blog_item_btn_box {
			padding: 13px;
			border-top: 1px solid #dcdcdc;
			overflow: hidden;

			@at-root .blog_item_btn {
				@extend %inlineBlock;
				width: calc(100% - 54px);

				> a {
					@extend %inlineBlock;
					max-width: 100%;
					padding-left: 13px;
					position: relative;
					text-decoration: none;
					@include transition();
					color: $textColor;

					> i {
						@extend %inlineBlock;
						height: 16px;
						line-height: 16px;
						@include absolute($left: -6px, $right: initial);
						font-size: 21px;
					}

					> span {
						display: block;
						@extend %continuousText;
					}

					&:hover {
						color: $btnColor;
					}
				}
			}

			@at-root .blog_item_like {
				@extend %inlineBlock;
				width: 50px;
				@extend %noUserSelect;
				text-align: right;
				color: #afacad;

				> i {
					@extend %inlineBlock;
					cursor: pointer;
					font-size: 15px;

					&:hover,
					&.active {
						color: $textColor;
					}
				}

				> .number {
					@extend %inlineBlock;
					font-size: 11px;
				}
			}
		}
	}

	@at-root .blog_more {
		@extend .catalog_item_more;

		> a {
			background: $textColor;
			color: #fff;

			> i {

			}
		}
	}
}
/*__________ Blog --- __________*/





/*__________ Partner +++ __________*/
.partner {
	padding: 50px 0;

	@at-root .partner_title {
		@extend .advantage_title;

		> .highlight {

		}
	}

	@at-root .partner_baner {
		padding: 0 20px;

		.owl-wrapper {
			display: -webkit-flex !important;
			display: -moz-flex !important;
			display: -ms-flex !important;
			display: -o-flex !important;
			display: flex !important;
			align-items: center;
		}

		.owl-prev,
		.owl-next {
			border-radius: 50%;
			background-color: transparent;

			&::before {
				border-color: #8a8a8a;
			}

			&:hover::before {
				border-color: #fff;
			}
		}

		.owl-prev {
			@extend %owlButtons;
			left: 0;

			&::before {
				margin-left: 3px;
				@include rotate(-45deg);
			}
		}
		.owl-next {
			@extend %owlButtons;
			right: 0;

			&::before {
				margin-right: 3px;
				@include rotate(135deg);
			}
		}

		@at-root .partner_item {
			padding: 0 20px;

			@at-root .partner_img {

			}
		}
	}
}
/*__________ Partner --- __________*/




/*__________ Map +++ __________*/
.map {

	@at-root .map_img {

	}
}
/*__________ Map --- __________*/






/* FOOTER
===============================================================================================================================*/

/*__________ Footer Navigation +++ __________*/
.footer_nav {
	padding: 10px 0;
	background: #515151;

	@at-root .footer_menu {

		> ul {
			@extend %innerBox;

			> li {
				float: left;

				& + li {
					margin-left: 25px;
				}

				> a {
					display: block;
					text-transform: uppercase;
					text-decoration: none;
					font-size: 13px;
					font-weight: 600;
					color: #fff;

					&:hover {
						color: $btnColor;
					}
				}
			}
		}
	}

	@at-root .footer_contact {
		text-align: right;

		@at-root .footer_social {
			@extend %outerBox;
			margin-right: 30px;

			> ul {
				@extend %innerBox;

				> li {
					float: left;

					& + li {
						margin-left: 7px;
					}

					> a {
						display: block;
						text-decoration: none;
						color: inherit;

						> i {
							display: block;
							width: 20px;
							line-height: 20px;
							text-align: center;
							color: #fff;
						}

						&:hover > i {
							color: $btnColor;
						}
					}
				}
			}
		}

		@at-root .footer_call {
			@extend %outerBox;

			> a {
				@extend %inlineBlock;
				text-decoration: none;
				color: $btnColor;

				> i {

				}

				> span {
					text-decoration: underline;
				}
			}
		}
	}
}
/*__________ Footer Navigation --- __________*/





/*__________ Footer Information +++ __________*/
.footer_info {
	padding: 10px 0;
	background: #343434;

	@at-root .footer_copy {

		> p {
			margin-bottom: 0;
			font-size: 13px;
			color: #aaa;
		}
	}

	@at-root .footer_dev {
		text-align: right;

		> p {
			margin-bottom: 0;
			font-size: 13px;
			color: #aaa;

			> i {
				font-size: 15px;
			}

			> a {
				color: inherit;

				&:hover {
					color: $btnColor;
				}
			}
			> * {
				vertical-align: middle;
			}
		}
	}
}
/*__________ Footer Information --- __________*/







/* OTHER ELEMENTS
===============================================================================================================================*/
.call_back_modal {

	.modal-dialog {
		margin: 0 auto;
	}

	.modal-content {
		border: 0;
		border-radius: 0;
		perspective: 1000px;
	}

	@at-root .call_back_app {
		width: 100%;
		margin: 20px 0;
		position: absolute;
		transform-origin: left;
		@include animation(callClose, $time: 0.7s, $fillMode: forwards) {
			from {
				opacity: 1;
				visibility: visible;
				@include rotate3D(0, 1, 0, 0);
			}
			to {
				opacity: 0;
				visibility: hidden;
				@include rotate3D(0, 1, 0, -80deg);
			}
		}
		background: #fff;

		&.active {
			@include animation(callOpen, $time: 0.7s, $fillMode: backwards, $delay: 0.2s) {
				from {
					opacity: 0;
					visibility: hidden;
					@include rotate3D(0, 1, 0, 80deg);
				}
				to {
					opacity: 1;
					visibility: visible;
					@include rotate3D(0, 1, 0, 0);
				}
			}
		}

		@at-root .call_back_inner {
			max-width: 400px;
			margin: auto;
			padding: 50px 15px;

			@at-root .call_back_close {
				width: 40px;
				height: 40px;
				border: 0;
				@include absolute($bottom: initial, $left: initial);
				background-color: transparent;

				&::before,
				&::after {
					content: '';
					display: block;
					width: 24px;
					height: 1px;
					@include absolute();
					background: #444;
				}

				&::before {
					@include rotate(45deg);
				}

				&::after {
					@include rotate(-45deg);
				}

				&:hover::before,
				&:hover::after {
					background: $textColor;
				}
			}

			@at-root .call_back_title {
				margin-top: 0;
				margin-bottom: 40px;
				text-align: center;
				font-size: 25px;
				font-weight: 300;
				color: #a2a2a2;
			}

			@at-root .call_back_form_box {
				margin-bottom: 40px;

				@at-root .call_back_form {

				}
			}

			@at-root .call_back_button {
				@extend .delivery_btn;

				> button {

					> i {

					}
				}
			}
		}
	}

	@at-root .call_back_rcvd {
		@extend .call_back_app;

		@at-root .call_back_remind {
			@extend .call_back_title;
			font-size: 14px;
		}
	}
}



.side_btns {
	@extend %noListStyle;
	border-radius: 7px 0 0 7px;
	position: fixed;
	right: 0;
	top: 30%;
	overflow: hidden;
	z-index: 50;

	> li {
		display: block;

		> a {
			display: block;
			text-decoration: none;
			background: #f0f0f0;
			color: inherit;

			> i {
				display: block;
				width: 45px;
				height: 45px;
				line-height: 45px;
				text-align: center;
				font-size: 20px;

				&:hover {
					color: #fff;
				}
			}
		}

		&.side_social {

			> a {

				> i {

				}
			}
		}

		&.side_call {

			> a {

				> i {
					border: 1px solid $textColor;
					border-radius: 0 0 0 7px;
					font-size: 17px;
					background: $textColor;
					color: #fff;

					&:hover {
						background: #fff;
						color: $textColor;
					}
				}
			}
		}
	}
}


.loader_box {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255, 255, 255, 0.8);
	z-index: 100;

	&.active {
		display: block;
	}

	@at-root .loader {
		width: 70px;
		height: 70px;
		border-radius: 50%;
		@include absolute();
		font-size: 70px;
		color: $textColor;
		@include animation(load, $time: 1.7s, $count: infinite) {
			0% {
				@include rotate(0deg);
				box-shadow:
				0 -0.83em 0 -0.4em,
				0 -0.83em 0 -0.42em,
				0 -0.83em 0 -0.44em,
				0 -0.83em 0 -0.46em,
				0 -0.83em 0 -0.477em;
			}

			5%,
			95% {
				box-shadow:
				0 -0.83em 0 -0.4em,
				0 -0.83em 0 -0.42em,
				0 -0.83em 0 -0.44em,
				0 -0.83em 0 -0.46em,
				0 -0.83em 0 -0.477em;
			}

			10%,
			59% {
				box-shadow:
				0 -0.83em 0 -0.4em,
				-0.087em -0.825em 0 -0.42em,
				-0.173em -0.812em 0 -0.44em,
				-0.256em -0.789em 0 -0.46em,
				-0.297em -0.775em 0 -0.477em;
			}

			20% {
				box-shadow:
				0 -0.83em 0 -0.4em,
				-0.338em -0.758em 0 -0.42em,
				-0.555em -0.617em 0 -0.44em,
				-0.671em -0.488em 0 -0.46em,
				-0.749em -0.34em 0 -0.477em;
			}

			38% {
				box-shadow:
				0 -0.83em 0 -0.4em,
				-0.377em -0.74em 0 -0.42em,
				-0.645em -0.522em 0 -0.44em,
				-0.775em -0.297em 0 -0.46em,
				-0.82em -0.09em 0 -0.477em;
			}

			100% {
				@include rotate(360deg);
				box-shadow:
				0 -0.83em 0 -0.4em,
				0 -0.83em 0 -0.42em,
				0 -0.83em 0 -0.44em,
				0 -0.83em 0 -0.46em,
				0 -0.83em 0 -0.477em;
			}
		}
	}
}







/* OTHER PAGES
===============================================================================================================================*/
.pagination {
	display: block;
	text-align: center;

	> ul {
		@extend %inlineBlock;
		@extend %noListStyle;

		> li {
			float: left;

			& + li {
				margin-left: 5px;
			}

			> a {
				display: block;
				width: 25px;
				height: 25px;
				line-height: 25px;
				border-radius: 50%;
				text-align: center;
				text-decoration: none;
				color: $textColor;
			}

			& > a:hover,
			&.active > a {
				color: #fff;
				background: $textColor;
			}
		}
	}
}





/*__________ Index Blog +++ __________*/
.index_blog {
	padding-top: 0;
	background: #fff;
}
/*__________ Index Blog --- __________*/





/*__________ Where Buy +++ __________*/
.where_buy {
	padding-bottom: 40px;

	@at-root .where_buy_title {
		@extend .advantage_title;
	}

	@at-root .where_buy_item {
		margin-bottom: 30px;

		@at-root .where_buy_map {

			@at-root .where_buy_map_img {
				width: 100%;
			}
		}

		@at-root .where_buy_text {

			@at-root .where_buy_address {
				@extend %whereBuyText;

				> p {

					> i {
						bottom: 8px;
						font-size: 20px;
					}
				}
			}

			@at-root .where_buy_clock {
				@extend %whereBuyText;

				> p {

					> i {

					}
				}
			}

			@at-root .where_buy_tel {
				@extend %whereBuyText;

				> p {

					> i {

					}
				}
			}
		}
	}
}
/*__________ Where Buy --- __________*/





/*__________ Delivery +++ __________*/
.delivery {
	padding-bottom: 50px;

	@at-root .delivery_title {
		@extend .advantage_title;
	}

	@at-root .delivery_box {
		max-width: 600px;
		margin: auto;
		box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.12);

		@at-root .delivery_header {
			padding: 15px;
			border-bottom: 1px solid #f1eeee;

			@at-root .delivery_h {
				max-width: 400px;
				margin: auto;
				text-align: center;
				font-weight: 300;
				color: #a2a2a2;
			}
		}

		@at-root .delivery_body {
			padding: 40px 15px;

			@at-root .delivery_form_box {
				max-width: 400px;
				margin: auto;
				margin-bottom: 40px;

				@at-root .delivery_form {

					@at-root .delivery_form_group {

						& + & {
							margin-top: 20px;
						}

						@at-root .delivery_form_control {
							position: relative;

							&::before {
								content: '';
								display: block;
								width: 0;
								height: 1px;
								@include absolute(initial, 0, 0, initial);
								@include transition($time: 0.7s, $tFunc: cubic-bezier(0, 0.5, 0.5, 1));
								background: $btnColor;
							}

							&.active::before {
								width: 100%;
							}

							> input {
								display: block;
								width: 100%;
								padding: 0;
								border: 0;
								border-bottom: 1px solid #a2a2a2;
							}
						}

						@at-root .delivery_form_amount {

							> p {
								@extend %inlineBlock;
								margin-bottom: 0;
								margin-right: 20px;
								color: #777;
							}

							> input {
								width: 50px;
								padding: 0;
								border: 0;
								border-bottom: 1px solid #a2a2a2;
							}
						}
					}
				}
			}

			@at-root .delivery_btn {
				text-align: center;

				> button {
					@extend %inlineBlock;
					padding: 10px 40px;
					border: 0;
					border-radius: 4px;
					position: relative;
					font-size: 13px;
					font-weight: 600;
					background: $btnColor;
					color: #333;

					> i {
						height: 16px;
						line-height: 16px;
						@include absolute($left: initial, $right: initial);
						opacity: 0;
						font-size: 18px;
						@include translate(20px, 0);

						&:nth-of-type(1) {
							right: 25px;
							@include transition($delay: 0.1s);
						}

						&:nth-of-type(2) {
							right: 20px;
							@include transition($delay: 0s);
						}
					}

					&:hover {

						> i {
							opacity: 1;
							@include translate(0, 0);
						}

						> i:nth-of-type(1) {
							@include transitionDelay($time: 0s);
						}

						> i:nth-of-type(2) {
							@include transitionDelay($time: 0.1s);
						}
					}
				}
			}
		}
	}
}
/*__________ Delivery --- __________*/





/*__________ About Us +++ __________*/
.about_us {
	padding-bottom: 40px;
	font-size: 17px;

	@at-root .about_us_title {
		@extend .advantage_title;
	}

	.highlight {
		font-weight: 600;
		color: $textColor;
	}

	a {
		text-decoration: underline;
		color: #3fa9f5;

		&:hover {
			color: $btnColor;
		}
	}

	em {
		font-weight: 300;
		font-style: italic;
	}

	@at-root .about_us_basic {
		margin-bottom: 30px;

		@at-root .about_us_basic_img {
			width: 100%;
			max-width: 400px;
			height: 250px;
			float: left;
			margin-right: 30px;
			margin-bottom: 20px;
			position: relative;
			overflow: hidden;

			> img {
				min-width: 100%;
				min-height: 100%;
				max-width: 120%;
				max-height: 120%;
				@include absolute(-100%, -100%, -100%, -100%);
			}
		}
	}

	@at-root .about_us_quote {
		margin-bottom: 40px;
		padding: 30px 0;
		font-weight: 300;
		font-style: italic;
		background: #f7f7f7;

		@at-root .about_us_quote_text {
			text-align: center;
			color: #696969;
		}

		@at-root .about_us_quote_name {
			text-align: right;
			margin-bottom: 0;
			font-size: 16px;
		}

		@at-root .about_us_quote_pos {
			text-align: right;
			margin-bottom: 0;
			font-size: 14px;
		}
	}

	@at-root .about_us_img_box {

		@at-root .about_us_img {
			@extend %flex;
			justify-content: space-around;
			align-items: center;
			flex-wrap: wrap;
			margin: 0 -10px;
			margin-bottom: 20px;

			@at-root .about_us_img_item {
				width: 280px;
				margin-bottom: 25px;
				padding: 0 10px;
				text-align: center;

				> img {

				}
			}
		}
	}
}
/*__________ About Us --- __________*/




/*__________ Blog Alone +++ __________*/
.blog_alone {
	@extend .about_us;

	.highlight {

	}

	a {

		&:hover {

		}
	}

	em {

	}



	@at-root .blog_alone_title_box {
		margin-bottom: 20px;

		@at-root .blog_alone_date {

			> p {
				margin-bottom: 0;
				font-size: 12px;
				color: $textColor;

			}
		}

		@at-root .blog_alone_title {

			> h2 {
				margin: 0;
				text-transform: uppercase;
				font-size: 30px;
				font-weight: normal;
				color: #424242;
			}
		}
	}

	@at-root .blog_alone_article {

		@at-root .blog_alone_img {
			@extend .about_us_basic_img;

			> img {

			}
		}

		@at-root .blog_alone_like {
			@extend %floatContainer;

			> .blog_item_like {
				float: right;
			}
		}
	}

	@at-root .blog_recommended {
		padding-bottom: 40px;
	}
}
/*__________ Blog Alone --- __________*/





/*__________ Catalog Alone +++ __________*/
.ctlg_alone {

	@at-root .ctlg_alone_menu {
		@extend .catalog_menu;

		> li {

			> a {
				
			}
		}

		> li.ctlg_alone_drop_down {

			> a {

			}

			@at-root .ctlg_alone_drop_menu {
				@extend %noListStyle;
				max-height: 0;
				overflow: hidden;
				box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
				@include transition($time: 0.7s, $tFunc: ease-out);
				background: $btnColor;

				&.active {
					max-height: 500px;
					@include transitionFunc(ease-in);
				}

				> li {
					@extend %basicButton;

					> a {
						display: block;
						padding: 5px 20px;
						padding-right: 30px;
						overflow: hidden;
						font-weight: 300;
						background-color: transparent;

						> i {
							@include absolute($left: initial, $right: initial);

							&:nth-of-type(1) {
								right: 15px;
							}

							&:nth-of-type(2) {
								right: 10px;
							}
						}

						&:hover {
							background: $textColor;
							color: #fff;
						}
					}

					&.active > a {
						background: $textColor;
						color: #fff;

						> i {
							opacity: 1;
							@include translate(0, 0);
						}
					}
				}
			}
		}
	}

	@at-root .ctlg_alone_item {

		@at-root .ctlg_alone_article {

			@at-root .ctlg_alone_item_img {
				@extend .catalog_item_img;
				width: 100%;
				max-width: 250px;
				float: left;
				margin-right: 20px;
				margin-bottom: 10px;
				border: 0;

				> img {

				}

				@at-root .ctlg_alone_item_capt {
					@extend .catalog_item_capt;

				}
			}

			@at-root .ctlg_alone_text {
				margin-bottom: 15px;
				font-size: 17px;

				> p {
					margin-bottom: 0;
				}

				.title {
					color: $textColor;
				}
			}
		}
	}

	
}
/*__________ Catalog Alone --- __________*/





/*__________ Not Found +++ __________*/
.not_found {

	@at-root .not_found_content {
		padding-top: 10px;
		padding-bottom: 50px;

		@at-root .not_found_title {
			margin: 0;
			text-align: center;
			font-size: 44px;
			font-weight: 600;
		}

		@at-root .not_found_img {
			margin: 70px 0;
			text-align: center;

			> img {

			}
		}

		@at-root .not_found_capt {
			margin-bottom: 0;
			text-align: center;
			font-size: 27px;
			font-weight: 600;
		}
	}
}
/*__________ Not Found --- __________*/







/*__________ Logo +++ __________*/
/*__________ Logo __________*/



