
@import 'variables';
@import 'mixins';
@import 'heritage';


/* MIN WIDTH
===============================================================================================================================*/

/* Min Width = 480px
---------------------------------------------------------------------------------*/
@media (min-width: 480px) {

/* Min Width = 480px END */
}


/* Min Width = 768px
---------------------------------------------------------------------------------*/
@media (min-width: 768px) {
	.baner_capt {
		left: 45px;
	}
/* Min Width = 768px END */
}


/* Min Width = 992px
---------------------------------------------------------------------------------*/
@media (min-width: 992px) {

/* Min Width = 992px END */
}


/* Min Width = 1200px
---------------------------------------------------------------------------------*/
@media (min-width: 1200px) {

/* Min Width = 1200px END */
}


/* Min Width = 1655px
---------------------------------------------------------------------------------*/
@media (min-width: 1655px) {

/* Min Width = 1655px END */
}



/* MAX WIDTH
===============================================================================================================================*/

/* Max Width = 1654px
---------------------------------------------------------------------------------*/
@media (max-width: 1654px) {

/* Max Width = 1654px END */
}


/* Max Width = 1199px
---------------------------------------------------------------------------------*/
@media (max-width: 1199px) {

/* Max Width = 1199px END */
}


/* Max Width = 991px
---------------------------------------------------------------------------------*/
@media (max-width: 991px) {
	.header_info_left,
	.header_info_right {
		text-align: center;
	}
	.header_info_left {
		margin-bottom: 15px;
	}

	.logo {
		display: block;
		width: initial;
		margin-bottom: 15px;
		text-align: center;
	}
	.search {
		width: 55%;
	}
	.header_tel_box {
		width: calc(45% - 4px);
	}

	.baner_capt {
		height: 130px;
	}
	.baner_h {
		max-height: 48px;
		font-size: 22px;

		&::before {
			height: 24px;
			top: 24px;
		}
	}
	.baner_p {
		display: none;
	}

	.nav_menu_box {
		width: 350px;
		border: 0;
		position: fixed;
		right: 0;
		top: 0;
		bottom: 0;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-box-shadow: -2px 0px 10px #d4d4d4;
		box-shadow: -2px 0px 10px #d4d4d4;
		@include translate(105%, 0);
		@include transition($time: 0.5s);
		background: #444;
		z-index: 95;

		&.active {
			@include translate(0, 0);
		}

		@at-root .nav_menu {

			> li {
				display: block;
				width: initial;
				
				& + li {
					border-left: 0;
					border-top: 1px solid #ebebeb;
				}

				> a {
					padding-left: 20px;
					padding-right: 10px;
					text-align: left;
					color: #fff;
				}
			}
		}
	}
	.nav_menu_btn {
		display: block;
	}
	.catalog_item_name{
		height: 40px !important;

		> h3 {
			transform: initial !important;
		}
	}
	.catalog_item_desc {

		> p {
			height: 40px;
		}
	}

	.catalog_title {
		text-align: center;
	}

	@at-root .filter_nav_lg {
		text-align: center;

		@at-root .filter_menu_lg {

			> li {
				float: none;
			}
		}
	}
	@at-root .filter_nav_sm {
		text-align: center;

		@at-root .filter_menu_sm {
			max-width: 500px;

			> li {
				display: block;
				width: initial;
			}
		}
	}

	.footer_menu,
	.footer_contact {
		text-align: center;
	}
	.footer_menu {
		margin-bottom: 15px;
	}

	.about_us_basic_img,
	.blog_alone_img {
		max-width: 300px;
		height: 180px;
	}

/* Max Width = 991px END */
}


/* Max Width = 767px
---------------------------------------------------------------------------------*/
@media (max-width: 767px) {
	.side_btns {
		display: none;
	}

	.header_lang_box {
		width: 100%;
		margin-bottom: 10px;
		margin-right: 0;
		padding: 0;
		border: 0;
	}
	.header_menu_box {
		width: 100%;
	}

	.search,
	.header_tel_box {
		display: block;
		width: initial;
	}
	.search {
		margin-bottom: 15px;
	}
	.header_tel_box {
		text-align: center;
	}

	.baner {

		.owl-prev,
		.owl-next {
			display: none;
		}
	}
	.baner_capt {
		width: 350px;
	}

	.short_about_left,
	.short_about_right {
		width: initial;
		float: none;
	}
	.short_about_baner {

		&::before,
		.owl-prev {
			display: none;
		}

		@at-root .short_about_baner_item {
			height: 300px;
		}
	}

	@at-root .footer_menu {

		> ul {

			> li {
				float: none;

				& + li {
					margin-left: 0;
					margin-top: 10px;
				}

				> a {

				}
			}
		}
	}
	.footer_copy,
	.footer_dev {
		text-align: center;
	}
	.footer_copy {
		margin-bottom: 15px;
	}

	.where_buy_map {
		margin-bottom: 15px;
	}

	.about_us_basic_img,
	.blog_alone_img {
		max-width: 220px;
		height: 140px;
	}

	.ctlg_alone_item_img {
		float: none;
		margin: auto;
		margin-bottom: 15px;
	}

	.not_found_title {
		font-size: 34px;
	}
	.not_found_capt {
		font-size: 17px;
	}

	.call_back_modal {

		.modal-dialog {
			margin: 0 10px;
		}

		@at-root .call_back_app,
		.call_back_rcvd {
			margin: 10px 0;
		}
	}

/* Max Width = 767px END */
}


/* Max Width = 479px
---------------------------------------------------------------------------------*/
@media (max-width: 479px) {
	.header_menu {

		> li {
			float: none;

			& + li {
				margin-left: 0;
				margin-top: 10px;
			}
		}
	}
	.header_call_box,
	.header_social_box {
		width: 100%;
	}
	.header_call_box {
		margin-right: 0;
		margin-bottom: 15px;
	}

	.baner_text {
		display: none;
	}
	.baner_capt {
		width: initial;
		height: 40px;
		top: initial;
	}

	.nav_menu_box {
		width: calc(100% - 65px);
	}
	.nav_menu_btn.active {
		right: calc(100% - 45px);
	}

	.short_about_baner_item {
		height: 200px;
	}

	.advantage_title {
		font-size: 25px;
	}
	@at-root .advantage_img_box {
		width: 80px;

		@at-root .advantage_img {

			> i {
				font-size: 60px;
			}
		}
	}
	@at-root .advantage_text {
		width: calc(100% - 80px);

		@at-root .advantage_h {
			font-size: 20px;
		}

		@at-root .advantage_p {
			font-size: 14px;
		}
	}

	.footer_social,
	.footer_call {
		width: 100%;
	}
	.footer_social {
		margin-right: 0;
		margin-bottom: 10px;
	}

	.about_us_basic_img,
	.blog_alone_img {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}

/* Max Width = 479px END */
}



